<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                2020 © Université Rennes 1 - CNRS
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-md-block">
                    <a href="javascript: void(0);">Mentions légales</a>
                    <a href="javascript: void(0);">Contact</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->